body{
    background-color: lightgray;
}

#container{
  /*width: 70%;*/
  width: 1000px;
  margin: 0px auto;
  border: 1px solid black;
}

h1{
background-color: red;
text-align: center;
}

article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px;
}